{{> menu active="about"}}

<section class="section">
  <div class="columns">
    <!-- Left Column -->
    <div class="column is-full">
      <div class="box has-text-left">
        <h3 class="title ml-6">
          About Us
        </h3>
        <div class="section has-text-left">
          <p>
            Met Éireann, Ireland’s National Meteorological Service, is a line division of the Department of Housing, Local Government and Heritage and is the leading provider of weather information and related services in the State. Its mission is to monitor, analyse and predict Ireland’s weather and climate and to provide a range of high quality meteorological and related information to the public and to specific customers in, for example, the aviation and agricultural sectors. As a scientific and technical organisation, it strives to utilise the latest technological and scientific advances in order to improve the efficiency, effectiveness and accuracy of its forecasts.
          </p>
        </div>
      <div class="columns">
    <div class="column is-one-third">
      <figure class="image">
        <img src="/station-1.jpg" alt="Station Image" style="width: 360px; height: 200px;">
      </figure>
      <div>
        <p>
          Here is one of our beutiful stations off the coast of kerry.
        </p>
      </div>
    </div>
    <div class="column is-one-third">
      <figure class="image">
        <img src="/station-2.jpg" alt="Another Image" style="width: 360px; height: 200px;">
      </figure>
      <p>
        Station located near the coast of Bundoran.
      </p>
    </div>
    <div class="column">
      <figure class="image">
        <img src="/station-3.jpg" alt="Another Image" style="width: 360px; height: 200px;">
      </figure>
       <p style="font-family: 'Roboto', sans-serif; font-size: 16px; color: #333;">
        Station located at the coast of Wexford.
      </p>
    </div>
  </div>
</section>
{{> footer}}